
{% extends "rango/base.html" %}
{% load staticfiles %}

{% block title_block %}
    Add a Category
{% endblock %}

{% block body_block %}
<style>
  .form-signin{
    max-width: 520px;
    width: 100%;
    margin: 0 auto;
  }
  .form-signin
  .form-control{
    width: 100%;
  }
</style>

<div class="jumbotron p-4">
    <div class="container">
        <h1 class="jumbotron-heading">Add a Category</h1>
        <div class="container">
            <form class="form-signin" role="form" id="category_form" method="post" action="{% url 'rango:add_category' %}">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    {{ field.errors }}
                    {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {{ field }}
                    <div class="p-2"></div>
                {% endfor %}
                <button class="btn btn-lg btn-primary btn-block" type="submit" name="submit">
                    Add Category
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
